<div class="footer-bottom">
  <mat-card class="footer-card">
    <mat-card-content>
      <h3>Unidad de Restitución de Tierras</h3>
      <p>
        Dirección Sede Principal:
        <br />
        Carrera 13 No. 28 - 24 piso 8, Bogotá, Colombia.
        <br />
        Código postal: 110311
      </p>
      <p>
        Horario de atención Telefónico, Teams y Chat:
        <br />
        Lunes a Viernes 8:00 a.m. a 5:00 p.m.
      </p>
      <p>
        Horario de atención Presencial: Lunes a Viernes de 8:00 a.m. a 1:00 p.m. y de 2:00 p.m. a 5:00 p.m.
      </p>
      <p>
        Teléfonos: (+57 601) PBX general: 377 03 00 / Línea Bogotá: 427 92 99
        <br />
        Línea Gratuita Nacional: 01 8000 124212
        <br />
        Línea antiorfocación: 01 8000 124212
        <br />
        Whatsapp: 322 3624564
      </p>
      <p>
        Correo Institucional: atencionciudadanourt.gov.co
        <br />
        Horario de atención: Lunes a Viernes de 8 a.m a 5 p.m.
      </p>
      <p>
        Correo de notificaciones judiciales: notificacionesjudicialesurt.gov.co
      </p>
      <div class="social-media-links">
        <a href="#"><img src="path-to-facebook-icon.png" alt="Facebook" /></a>
        <a href="#"><img src="path-to-twitter-icon.png" alt="Twitter" /></a>
        <a href="#"><img src="path-to-instagram-icon.png" alt="Instagram" /></a>
      </div>
      <div class="footer-links">
        <a href="#">Política de tratamiento de datos personales</a>
        <a href="#">Términos y condiciones</a>
        <a href="#">Políticas</a>
        <a href="#">Mapa del sitio</a>
        <a href="#">P. derechos de autor</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
