.bannerhome-principal{
    margin-top: 30px;
}
.bannersecundario-home{
    margin-bottom: 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 40PX;
  }
  
  @media (max-width: 1200px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
  