<div class="banner-container-login">
    <app-cover-img imageSrc="banner-login.jpg" textPosition="right-center">
        Inicia sesión para realizar todas <br /> las operaciones
    </app-cover-img>
</div>
<div class="login-container">
    <div class="login-image">
        <img src="form-login.jpg" alt="Login Image" />
    </div>
    <div class="login-form">
        <h2>Inicio Sesión</h2>
        <div class="toggle-buttons">
            <button mat-button [class.active]="isBeneficiary" (click)="setBeneficiary(true)">BENEFICIARIO</button>
            <button mat-button [class.active]="!isBeneficiary" (click)="setBeneficiary(false)">PROVEEDOR</button>
        </div>
        <div class="container-login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text"  formControlName="username"/>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password"/>
                </mat-form-field>
                <div class="container-btn-login">
                    <mat-checkbox formControlName="rememberMe">Recordarme</mat-checkbox>
                    <button mat-button class="button-login" type="submit">Ingresar</button>
                </div>
                <a href="#" class="forgot-password">Olvidé mi contraseña</a>
            </form>
        </div>
    </div>
</div>